.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px
}

.nav {
  display: flex;
  gap: 100px;
  list-style: none
}

.main .about {
  display: flex;
  background-color: #495E57;
  height: 40vh;
  width: 100%;
  gap: 100px;
  justify-content: space-between;
}

.main .about article {
  width: 100%;
  height: 100%;
  margin-left: 277px;
}

.main .about img {
  border: 3px solid #F4CE14;
  border-radius: 10px;
  margin-top: 5%;
  height: 90%;
  margin-right: 273px;
}

.footer {
  margin-top: 5%;
  display: grid ;
  grid-template-columns: 1fr 1fr;
  margin-left: 15%;
  margin-right: 15%;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}